.root {
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    color: #617fad !important;
    padding-top: 3rem;
    padding-bottom: 3rem;

    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;


    a {
        text-decoration: inherit;
        display: flex;
        gap: 1rem;
        align-items: baseline;
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

    a:hover {
        color: #133568;
    }


}

/* Tablet View */
@media (max-width: 768px) {
    .root {
        flex-direction: row;
        text-align: center;
        gap: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        font-size: 18px;
    }

    a {
        font-size: 16px;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    .root {
        font-size: 16px;
    }

    a {
        font-size: 14px;
    }
}